extends layout2

block content
  #page-wrapper
        .row
          .col-lg-12
            h1.page-header #{title}
          .row
            .col-lg-12
              br
              form(method='POST', action='/devices/add')
                #form-group
                    label PC Name:
                    input.form-control(name='pcname', type='text')
                #form-group
                    label IP Address:
                    input.form-control(name='ipaddress', type='text')
                #form-group
                    label Mac Address:
                    input.form-control(name='macaddress', type='text')
                #form-group
                    label Company:
                    input.form-control(name='company', type='text')    
                    br      
                input.btn.btn-primary(type='submit', value='Submit')
          // /#page-wrapper
          // /#wrapper
          // jQuery