extends layout2

block content
  #page-wrapper
    .col-lg-6
    .well.well-lg
            .row
            .col-lg-12
                h1.page-header #{title}
            .row
                .col-lg-12
                    .container
                    br
                    form(method='POST', action='/companies/add')
                        #form-group
                            label Name:
                            input.form-control(name='name', type='text')
                        #form-group
                            label Email:
                            input.form-control(name='email', type='text')
                        #form-group
                            label Address:
                            input.form-control(name='address', type='text')
                        #form-group
                            label City:
                            input.form-control(name='city', type='text')
                        #form-group
                            label County:
                            input.form-control(name='county', type='text')
                        #form-group
                            label Post Code:
                            input.form-control(name='postcode', type='text')
                        #form-group
                            label Country:
                            input.form-control(name='country', type='text')
                        #form-group
                            label Phone Number:
                            input.form-control(name='phonenumber', type='text')
                            br
                        input.btn.btn-primary(type='submit', value='Submit')
            // /#page-wrapper
            // /#wrapper
            // jQuery
