extends layout2

block content
  #page-wrapper
        .row
          .col-lg-12
            h3.page-header #{title}
          .row
            .col-lg-12
              br
            // /.col-lg-12
          // /.row
          .row
            .col-lg-12
              != messages('message', locals)
              .panel.panel-default
                .panel-heading
                  | #{title}
                // /.panel-heading
                .panel-body
                  table#dataTables-example.table.table-striped.table-bordered.table-hover(width="100%")
                    thead
                      tr
                        th Company
                        th Address
                        th City
                        th Postcode
                        th Email
                    tbody
                      each company, i in companies
                        if user
                          if user.company == company.name || user.admin == "Super Admin"
                            tr.odd.gradeX
                              td
                                a(href="/companies/"+company._id)=company.name
                              td
                                = company.address
                              td
                                = company.city
                              td
                                = company.postcode
                              td
                                = company.email    
                          
                       
                          
                  // /.table-responsive
                // /.panel-body
              // /.panel
            // /.col-lg-6
          // /.row
          // /#page-wrapper
          // /#wrapper
          // jQuery