extends layout3

block content1
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 Device Name - #{title}
      a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='#')
        i.fas.fa-download.fa-sm.text-white-50
        |  Generate Report
    // Content Row
    .row
      // Content Column
      .col-lg-12.mb-4
        // DataTales Example
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary Device Info
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%', cellspacing='15')
                thead
                  tr
                    th Name
                    th Username
                    th Email
                    th Phone
                    th Company
                    th Admin
                tbody
                  each user, i in users
                    tr.odd.gradeX
                      td
                        a(href="/users/"+ user._id)=user.name
                      td
                        = user.username
                      td
                        = user.email
                      td
                        = user.phone
                      td
                        = user.company
                      td
                        = user.admin  
  // /.container-fluid
  // End of Main Content