extends layout

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800
      a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='#')
        i.fas.fa-download.fa-sm.text-white-50
        |  Generate Report
    // Content Row
    .row
      // Content Column
      .col-lg-12.mb-4
        // DataTales Example
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary #{title} Info
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%', cellspacing='15')
                thead
                  tr
                    th IP Address
                    th MAC Address
                    th Company
                    th Site
                    th Last Updated
                    th Status
                tbody
                  tr
                    each device, i in devices
                      tr.odd.gradeX
                        td
                          a(href="/devices/"+ device._id)= device.pcname
                        td
                          = device.ipaddress 
                        td
                          = device.macaddress 
                        td
                          = device.company 
                        td
                          = device.timestamp        
                        td
                          if device.status == "Active"
                            span.label.label-success #{device.status}
                          else
                            span.label.label-danger #{device.status}
  // /.container-fluid
  // End of Main Content