extends layout2

block content
  #page-wrapper
        .row
          .col-lg-12
            h1.page-header Dashboard
          // /.col-lg-12
        // /.row
        .row
          .col-lg-3.col-md-6
            .panel.panel-primary
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-building.fa-5x
                  .col-xs-9.text-right
                    .huge 26
                    div Company
              a(href="#")
                .panel-footer
                  span.pull-left View Details
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  .clearfix
          .col-lg-3.col-md-6
            .panel.panel-green
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-sitemap.fa-5x
                  .col-xs-9.text-right
                    .huge 12
                    div Sites
              a(href="#")
                .panel-footer
                  span.pull-left View Details
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  .clearfix
          .col-lg-3.col-md-6
            .panel.panel-yellow
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-group.fa-5x
                  .col-xs-9.text-right
                    .huge 124
                    div Users
              a(href="/users")
                .panel-footer
                  span.pull-left View Details
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  .clearfix
          .col-lg-3.col-md-6
            .panel.panel-red
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-support.fa-5x
                  .col-xs-9.text-right
                    .huge 13
                    div Support Tickets!
              a(href="#")
                .panel-footer
                  span.pull-left View Details
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  .clearfix
              // /.nav-second-level
            // /.sidebar-collapse
          // /.navbar-static-side
          .row
            .col-lg-12
              br
            // /.col-lg-12
          // /.row
          .row
            .col-lg-12
              .panel.panel-default
                .panel-heading
                  | Sites Available
                // /.panel-heading
                .panel-body
                  table#dataTables-example.table.table-striped.table-bordered.table-hover(width="100%")
                    thead
                      tr
                        th ID
                        th Name
                        th Address
                        th City
                        th State/County
                        th Country 
                        th Concept
                    tbody
                      each device, i in devices
                        tr.odd.gradeX
                          td
                            a(href="/devices/"+device._id)=device.pcname
                          td
                            = device.ipaddress 
                          td
                            = device.macaddress
                          td.center 4
                          td.center X
                          td.center X
                          td.center X
                  // /.table-responsive
                // /.panel-body
              // /.panel
            // /.col-lg-6
          // /.row
          // /#page-wrapper
          // /#wrapper
          // jQuery