doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="")
		meta(name="author" content="")
		title One C Enterprise
		// Bootstrap Core CSS
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
		link(rel='stylesheet', href='/css/style.css')
		// MetisMenu CSS
		link(href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet")
		// Custom CSS
		link(href="../dist/css/sb-admin-2.css" rel="stylesheet")
		// Morris Charts CSS
		link(href="../vendor/morrisjs/morris.css" rel="stylesheet")
		// Custom Fonts
		link(href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
	body
		#wrapper
			// Navigation
			nav.navbar.navbar-default.navbar-static-top(role="navigation" style="margin-bottom: 0")
				.navbar-header
					button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/" ) One C Portal 
					// /.navbar-header
					ul.nav.navbar-top-links.navbar-right
						li.dropdown
							a.dropdown-toggle(data-toggle="dropdown" href="#")
								i.fa.fa-user.fa-fw
								i.fa.fa-caret-down
							ul.dropdown-menu.dropdown-user
								li
									a(href="#")
										i.fa.fa-user.fa-fw
										|  User Profile
								li
									a(href="#")
										i.fa.fa-gear.fa-fw
										|  Settings
								li.divider
								li
									a(href="/users/logout")
										i.fa.fa-sign-out.fa-fw
										|  Logout
							// /.dropdown-user
						// /.dropdown
					// /.navbar-top-links
					.navbar-default.sidebar(role="navigation")
						.sidebar-nav.navbar-collapse
							ul#side-menu.nav
								li.sidebar-search
									.input-group.custom-search-form
										input.form-control(type="text" placeholder="Search...")
										span.input-group-btn
											button.btn.btn-default(type="button")
												i.fa.fa-search
									// /input-group
								li
									a(href="/")
										i.fa.fa-dashboard.fa-fw
										|  Dashboard
								li
									if user
										if user.admin == "Super Admin"
										
											a(href="/")
												i.fa.fa-align-justify.fa-fw
												|  Admin Area
												span.fa.arrow
											ul.nav.nav-second-level
												li
													a(href='#createCompany', data-toggle='modal', data-target='#createCompany') New Company
												li
													a(href='#createSite', data-toggle='modal', data-target='#createSite') New Site
												li
													a(href='#createUser', data-toggle='modal', data-target='#createUser') New User
												li
													a(href='/devices/checkin') Device Check In	
											// /.nav-second-level
								li
									a(href="#")
										i.fa.fa-building.o.fa-fw
										|  Company
										span.fa.arrow
									ul.nav.nav-second-level
										if user
											if user.admin == "True" || user.admin == "Super Admin"
												li
													a(href="/companies") Company
										li
											a(href="/sites") Sites
										li
											a(href="/devices") Devices
										li
											a(href="/users") Users
												
										// /.nav-second-level	
									
								li
								
								
						// /.sidebar-collapse
					// /.navbar-static-side
				#createCompany.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createCompanyLabel', aria-hidden='true')
					.modal-dialog(role='document')
						.modal-content
							.modal-header
								h5#createCompanyLabel.modal-title Create Company
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true')
							.modal-body
								form(method='POST', action='/companies/add')
									#form-group
										label Company Name:
										input.form-control(name='name', type='text')
									#form-group
										label Email:
										input.form-control(name='email', type='text')
									#form-group
										label Address:
										input.form-control(name='address', type='text')
									#form-group
										label City:
										input.form-control(name='city', type='text')
									#form-group
										label County:
										input.form-control(name='county', type='text')
									#form-group
										label Post Code:
										input.form-control(name='postcode', type='text')
									#form-group
										label Country:
										input.form-control(name='country', type='text')
									#form-group
										label Phone Number:
										input.form-control(name='phone', type='text')
										br
									input.btn.btn-primary(type='submit', value='Submit')
									a.btn.btn-danger(href='/') Cancel
				#createSite.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createSiteLabel', aria-hidden='true')
					.modal-dialog(role='document')
						.modal-content
							.modal-header
								h5#createSiteLabel.modal-title Create Site
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true')
							.modal-body
								form(method='POST', action='/sites/add')
									#form-group
										label Status:
										select.form-control(name='status', type='text')
											option Active
											option Disabled
									#form-group
									label Company:
									select.form-control(name='company', type='text')
										each company, i in companies
											option #{company.name}
									#form-group
										label Name:
										input.form-control(name='name', type='text')
									#form-group
										label Email:
										input.form-control(name='email', type='text')
									#form-group
										label Address:
										input.form-control(name='address', type='text')
									#form-group
										label City:
										input.form-control(name='city', type='text')
									#form-group
										label County:
										input.form-control(name='county', type='text')
									#form-group
										label Post Code:
										input.form-control(name='postcode', type='text')
									#form-group
										label Country:
										input.form-control(name='country', type='text')
									#form-group
										label Phone Number:
										input.form-control(name='phonenumber', type='text')
										br
									input.btn.btn-primary(type='submit', value='Submit')
									a.btn.btn-danger(href='/') Cancel
				#createUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createUserLabel', aria-hidden='true')
					.modal-dialog(role='document')
						.modal-content
							.modal-header
								h5#createUserLabel.modal-title Create User
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true')
							.modal-body
								form(method='POST', action='/users/register')
									#form-group
										label Admin:
										select.form-control(name='admin', type='text')
											option User
											option Admin
												if user
													if user.admin == "Super Admin"
														option Super Admin
									#form-group
										label Company:
										select.form-control(name='company', type='text')
											each company, i in companies
												option #{company.name}                    
									#form-group
										label Name:
										input.form-control(name='name', type='text')
									#form-group
										label Email:
										input.form-control(name='email', type='text')
									#form-group
										label Phone Number:
										input.form-control(name='phone', type='text')
									#form-group
										label Username:
										input.form-control(name='username', type='text')
									#form-group
										label Password:
										input.form-control(name='password', type='password')
									#form-group
										label Confirm:
										input.form-control(name='password2', type='password')
										br
									input.btn.btn-primary(type='submit', value='Submit')
									a.btn.btn-danger(href='/users') Cancel													 
			block content	
		script(src="../vendor/jquery/jquery.min.js")
		// Bootstrap Core JavaScript
		script(src="../vendor/bootstrap/js/bootstrap.min.js")
		script(src='https://www.gstatic.com/charts/loader.js')
		// Metis Menu Plugin JavaScript
		script(src="../vendor/metisMenu/metisMenu.min.js")
		// DataTables JavaScript
		script(src="../vendor/datatables/js/jquery.dataTables.min.js")
		script(src="../vendor/datatables-plugins/dataTables.bootstrap.min.js")
		script(src="../vendor/datatables-responsive/dataTables.responsive.js")
		// Custom Theme JavaScript
		script(src="../dist/js/sb-admin-2.js")
		script(src='/js/main.js')
		script.
			$(document).ready(function() {
			$('#dataTables-example').DataTable({
			responsive: true
			});
			});
		
