extends layout2

block content
    #page-wrapper
      .row
        .col-lg-12
          h1.page-header Users & Roles

      .row
        .col-lg-12
          .panel.panel-default
            .panel-heading
              | User Information
            // /.panel-heading
            .panel-body
              // Nav tabs
              ul.nav.nav-tabs
                li.active
                  a(href="#home" data-toggle="tab") Users
                li
                  a(href="#profile" data-toggle="tab") Roles
                li
                  a(href="#messages" data-toggle="tab") Messages
                li
                  a(href="#settings" data-toggle="tab") Settings
              // Tab panes
              .tab-content
                #home.tab-pane.fade.in.active
                    // /.row
                    .row
                    .col-lg-12
                        .panel.panel-default
                        .panel-heading
                        // /.panel-heading
                        .panel-body
                            table#dataTables-example.table.table-striped.table-bordered.table-hover(width="100%")
                              thead
                                tr
                                  th Admin
                                  th Name
                                  th Username
                                  th Email
                                  th Site
                                  th Company
                              tbody
                                if user.admin == "Super Admin"
                                  each user, i in users

                                    tr.odd.gradeX
                                      td
                                        = user.admin
                                      td
                                        a(href="/user/"+user._id)=user.name
                                      td
                                        = user.username
                                      td
                                        = user.email
                                      td
                                        = user.site
                                      td
                                        = user.company
<<<<<<< HEAD

=======
                                    
>>>>>>> API-Devices
                            // /.table-responsive
                        // /.panel-body
                        // /.panel

                #profile.tab-pane.fade
                  h4 Profile Tab
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                #messages.tab-pane.fade
                  h4 Messages Tab
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                #settings.tab-pane.fade
                  h4 Settings Tab
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            // /.panel-body
          // /.panel
      // /.row
    // /#page-wrapper
    // /#wrapper
    // jQuery
