extends layout
    
block content
    br
    h3 #{title}
            br
            ul.list-group
                each user, i in users
                    li.list-group-item 
                        a(href="/users/"+user._id)=  user.name + " - " + user.email + " - " +user.company